.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
/.quarto/

# Stora filer
*.gpkg  

# Bilder / får ej laddas upp

Mediabank/
Data/
Script
# OS
.DS_Store
Thumbs.db

# Quarto
_site/
*api_call_foretagsregister_ae.R
